.container {
    height: 100%;
    display: flex;
    justify-content: center;
}
.item:nth-child(1) {
    flex-grow: 2;
}
/* .item:nth-child(2) {
    flex-grow: 0.1;
} */
.item:nth-child(2) {
    flex-grow: 3;
}

.item:nth-child(4) {
    flex-grow: 2;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.topBar {
    width: 100vw;
    height: 50px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

h1 {
    color: white;
    font-weight: normal;
    margin-left: 20px;
    align-self: center;
}

.button {
    margin-left: auto;
    margin-right: 20px;
    height: 100%;
    border: 0px solid transparent;
    outline: 0px;
    padding: 5px;
    background-color: transparent;
    color: white;
}

.main_content {
    display: flex;
}

.information {
    width: 180px;
    display: flex;
    flex-direction: column;
}
.private {
    text-align: center;
    margin-top: 30px;
    line-height: 5px;
    display: flex;
    flex-direction: column;
}

#info {
    font-size: 27px;
}

#private_in {
    margin-left: auto;
}

.history {
    margin-top: 30px;
}

.history #detail {
    line-height: 28px;
    margin-left: 2px;
}

#nickname {
    font-weight: 800;
}

.last_underline {
    margin-top: 70px;
}

.main_page {
    text-align-last: center;
}
.posts {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 220px));
    grid-gap: 30px;
    padding: 50px;
    /* width: 80%; */
    padding-top: 14px;
}

/* @media screen and (max-width: 1090px) {
    .posts {
        grid-template-columns: 1fr;
        width: 100%;
    }
} */

#moreBtn {
    width: 140px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
}

#moreBtn:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

/*                       Mobile CSS                        */

.m__body {
    width: 100vw;
}
.m__topBar {
    /* width: 100vw; */
    height: 50px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

#m__h1 {
    font-size: large;
    color: white;
    margin-left: 25px;
    align-self: center;
}

.m__button {
    margin-left: auto;
    margin-right: 25px;
    height: 100%;
    border: 0px solid transparent;
    outline: 0px;
    padding: 5px;
    background-color: transparent;
    color: white;
}
.m__information {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.m__history {
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m__main_page {
    text-align-last: center;
}

.m__private {
    height: 100px;
    /* background-color: #18f3f7;
    border-radius: 0px 0px 15px 15px; */
    margin-top: 0px;
    display: flex;
}

.m__private img {
    align-self: center;
    margin-left: 50px;
    margin-right: 15px;
    width: 60px;
    height: 60px;
}

.m__private .m__text {
    align-self: center;
}

/* .m__private .m__text p {
    color: black;
} */

.m__private #m__private_in {
    margin-right: 50px;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 10px;
}

.m__private #m__info {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 24px;
}

.m__platform {
    width: 90%;
    min-height: 140px;
    margin: auto;
    background: #f6f6f6;
    border-radius: 12px;
    border-color: #eaeaea;
    max-width: 700px;
    position: relative;
    margin-bottom: 15px;
}

.m__jungoTop {
    text-align: center;
}

.m__jungoBottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.m__thunderTop {
    text-align: center;
}

.m__thunderBottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.m__carrotTop {
    text-align: center;
}

.m__carrotBottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*                     Information Bottom Area 전역 설정                  */
#m__bottomNum {
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
}

#m__bottomText {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 10px;
    text-align: center;
}
#m__nickname {
    font-weight: 700;
    font-size: 22px;
}

/*                     Information Bottom Area 전역 설정                  */

.m__posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 30px;
    /* width: 80%; */
    padding-top: 14px;
}

#m__moreBtn {
    width: 120px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
}

#m__moreBtn:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
