.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

.topBar {
    width: 100vw;
    height: 160px;
    background-color: #b6b6b9;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-between; */
}

h1 {
    color: white;
    font-weight: normal;
    margin-left: 20px;
    align-self: center;
}

#headline {
    font-weight: bolder;
    align-items: center;
    text-align: center;
    font-size: 50px;
    color: #3f3f3f;
    line-height: 0%;
}

.topBar_right {
    display: flex;
    justify-content: flex-end;
}

#topBar_search {
    display: flex;
    height: 35px;
    width: 260px;
    border: 1px solid white;
    border-radius: 23px;
    margin-right: 105px;
    align-self: center;
    align-items: center;
}

#topBar_search img {
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

#topBar_search p {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-bottom: 0;
}

.nav {
    align-items: center;
    margin-left: 134px;
}

.nav_vertical_line {
    height: 32px;
    width: 0px;
    border-color: black;
    border-right: 1px solid;
    margin-left: 19px;
    margin-right: 20px;
}

.button {
    font-size: 18px;
    border: 0px solid transparent;
    outline: 0px;
    padding: 5px;
    background-color: transparent;
    color: #191919;
}

.main_content {
    background-color: #f2f2f6;
    display: flex;
}

.left_area {
    width: 20%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile_circle {
    margin-top: 84px;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 3px 3px 6px #a4a4a4;
}

#profile_name {
    margin-top: 20px;
    font-size: 25px;
}
#profile_info {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 16px;
}

.main_page {
    width: 80%;
    text-align-last: center;
}

.main_info {
    margin-top: 35px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

#trade_text {
    font-size: 24px;
    margin-top: 20px;
    text-align-last: left;
    margin-left: 10%;
}

.posts {
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    /* width: 80%; */
}

/* @media screen and (max-width: 1090px) {
    .posts {
        grid-template-columns: 1fr;
        width: 100%;
    }
} */

#moreBtn {
    width: 140px;
    height: 45px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
}

#moreBtn:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

/*                       Mobile CSS                        */

.m__body {
    width: 100vw;
}
.m__topBar {
    /* width: 100vw; */
    height: 50px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

#m__h1 {
    font-size: large;
    color: white;
    margin-left: 25px;
    align-self: center;
}

.m__button {
    margin-left: auto;
    margin-right: 25px;
    height: 100%;
    border: 0px solid transparent;
    outline: 0px;
    padding: 5px;
    background-color: transparent;
    color: white;
}
.m__information {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.m__history {
    padding: 0px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m__main_page {
    text-align-last: center;
}

.m__private {
    height: 100px;
    /* background-color: #18f3f7;
    border-radius: 0px 0px 15px 15px; */
    margin-top: 0px;
    display: flex;
}

.m__private img {
    align-self: center;
    margin-left: 50px;
    margin-right: 15px;
    width: 60px;
    height: 60px;
}

.m__private .m__text {
    align-self: center;
}

/* .m__private .m__text p {
    color: black;
} */

.m__private #m__private_in {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: 100px;
    font-weight: 200;
    font-size: 10px;
}

.m__private #m__info {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 24px;
}

#m__phoneNum {
    margin-left: 3px;
    margin-top: 0px;
}

.m__platform {
    width: 90%;
    min-height: 140px;
    margin: auto;
    background: #f6f6f6;
    border-radius: 12px;
    border-color: #eaeaea;
    max-width: 700px;
    position: relative;
    margin-bottom: 15px;
}

.m__jungoTop {
    text-align: center;
}

.m__jungoBottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.m__thunderTop {
    text-align: center;
}

.m__thunderBottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.m__carrotTop {
    text-align: center;
}

.m__carrotBottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*                     Information Bottom Area 전역 설정                  */
#m__bottomNum {
    margin-top: 0px;
    text-align: center;
    font-size: 16px;
}

#m__bottomText {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 10px;
    text-align: center;
}
#m__nickname {
    margin-top: 25px;
    font-weight: 700;
    font-size: 22px;
}

/*                     Information Bottom Area 전역 설정                  */

.m__posts {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, minmax(20%, auto));
    grid-gap: 20px;
    padding: 30px;
    /* width: 80%; */
    padding-top: 14px;
}

#m__moreBtn {
    width: 120px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-bottom: 15px;
}

#m__moreBtn:hover {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
