.posts .post {
    height: 300px;
    width: 290px;
    background-color: white;
    /* font-weight: 300; */
    /* padding: 20px; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* color: #adaeb9; */
    /* box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3),
        0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
}
p {
    color: #191919;
}

.postDropdown {
    float: right;
}
/* .posts .post a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
/* grid-template-columns: minmax(150px, 1fr) 2fr; */
/* grid-gap: 20px;
    text-decoration: none;
    color: inherit;
} */

.post img {
    align-self: center;
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    box-shadow: 0px 0px 10px #a4a4a4;

    /* width: 100%; */
    /* margin-right: 30px; */
    /* box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3),
        0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
}

.post .post__title,
/* .post .post__year {
    margin: 0;
    font-weight: 300;
} */

.post .post_title {
    /* 글자 넘칠경우 ...으로 치환 */
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 18px;
    margin-bottom: 18px;
    text-overflow: ellipsis;
    font-size: 16px;
    color: black;
}

.dropdown:hover {
    background-color: #4c84ff;
}

.dropdown {
    border-radius: 0 0 15px 15px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .btn_area {
    border-radius: 0 0 15px 15px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.btn_link:hover {
    color: white;
}

.btn_link {
    color: #999999;
    font-size: 20px;
}
/* 
.post .post__genres {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.post__genres li,
.post .post__year {
    margin-right: 10px;
    font-size: 14px;
} */

/*                         Mobile CSS                           */
.m__posts .post {
    width: 1fr;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* 미친 css를 이용한 센터크롭의 정수다 ㄹㅇ루다가 */
.m__make_rect {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 7px;
}

.m__make_rect img {
    position: absolute;
    top: -9999px;
    left: -9999px;
    right: -9999px;
    bottom: -9999px;
    margin: auto;
}

.m__post .m__post_title {
    /* 글자 넘칠경우 ...으로 치환 */
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
}
